// Colors
$color-text: #e5e7eb;
$color-background-element: #1f2937;

// Fonts
$font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Units
$border-radius: 0.5rem;

$spacer-sm: 1rem;
$spacer-md: 1.5rem;
$spacer-lg: 2rem;
$spacer-xl: 3rem;

$screen-lg: 1024px;
